html,
body {
    margin: 0;
    height: 100vh;


    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(glass.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);
    border-right: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: 8px 0 30px rgba(0, 0, 0, .25);
    transform: translateX(-100%);
    transition: transform .4s ease;
}

.sidebar.active {
    transform: translateX(0);
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 30px 10px;
}

.sidebar li {
    width: 100%;
    margin-top: 20px;
    height: 36px;
    border: 3px solid rgba(179, 51, 184, 0.12);
    border-radius: 5px;
    box-sizing: border-box;
    transition-duration: 1000ms;
}

.sidebar li:hover {
    background-color: #f5a1f2;
    border-color: #e3dfe3;
    cursor: pointer;
}

.sidebar li:hover a {
    color: rgb(9, 9, 9);
}

.sidebar a {
    margin-left: 18px;
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;

}

.btn {
    position: fixed;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    background: rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
    color: #ffffff;
    top: 10px;
    left: 30px;
    cursor: pointer;
    z-index: 1000;
}

.button:hover {
    transform: scale(1.08);
    background: rgba(255, 255, 255, .25);
}

.btn.active {
    left: 150px;
}

.sidebar i {
    width: 25px;
}

.sidebar-footer {
    margin-top: auto;
    padding: 18px 15px;
    border-top: 1px solid rgba(255, 255, 255, .2);
}

.social-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.sidebar-footer span {
    color: #ffffff;
    margin: 50px;
}

.glass-card {
    width: 350px;
    height: 180px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px) saturate(180%);

    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

    color: white;
    font-size: 28px;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .4);


}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}