.head {
    color: rgb(6, 60, 60);
    border: 2px solid white;
    border-radius: 7px;
    background-color: linear;
    margin: 10px;
    width: 300px;
    background-image: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    font-weight: 600;
    font-style: oblique;


}

li {
    list-style: none;
    
}